### Terminology

type casting :: is changing type of object from one to another

dynamically typed language :: we don't specify what kind of data we are going to put in a variable (duck typing)

concatentation :: joining two strings

### structured data types 

- list
- set
- tuple
- dictionary

#### CRUD operations

- Create
- Retrieve
- Update
- Delete

### built in functions

- list()
- type()
- help()
- dir()
- print()
- len()
- input()

#### survival functions

- type
- dir
- help

In [3]:
number = input("please enter a numerical value ")  

# by default, input() function converts any input into str

please enter a numerical value 200

In [4]:
number

'200'

In [6]:
type(number)

str

### type casting

In [7]:
int(number)

200

In [8]:
## another example of input()

foo = input("please enter your weight : ")

please enter your weight : 70.5

In [9]:
foo

'70.5'

In [10]:
type(foo)

str

In [12]:
bar = float(foo)

In [13]:
type(bar)

float

In [19]:
##

result = input("Python is Object oriented and procedure oriented : ")

Python is Object oriented and procedure oriented : True

In [20]:
result

'True'

In [21]:
type(result)

str

In [25]:
type(bool(result))

bool

In [22]:
one_more_variable = bool(result)

In [23]:
one_more_variable

True

In [24]:
type(one_more_variable)

bool

In [33]:
## one more example

var = int(input("please enter number "))

please enter number 10

In [34]:
var

10

In [35]:
type(var)

int

### Mathemical operators

+, - :: addition substraction
/    :: division
//   :: truncation division (floor division)
%    :: modulo operator
*    :: multiplication

In [26]:
10 + 10

20

In [27]:
10 - 5

5

In [28]:
10/3

3.3333333333333335

In [29]:
10//3

3

In [30]:
10%3

1

In [31]:
11%3

2

In [32]:
10%5

0

In [36]:
a = 1

str(a)

# int
# float
# str
# bool

'1'

In [42]:
bool(10.50) 

#  any non-empty string is considered as True
#  any non-zero interger is considered as True
#  any non-zero float is considered as True

True

In [ ]:
foo = "10.50"

In [44]:
float(foo)

70.5

## String

In [ ]:
foo = ''
foo = ""

In [55]:
foo = '''India is great. Ganga is largest river in india.
Mumbai is capital of india.'''

In [56]:
foo

'India is great. Ganga is largest river in india.\nMumbai is capital of india.'

In [46]:
type(foo)

str

In [47]:
foo = """python is love"""

In [48]:
type(foo)

str

In [61]:
print("India \t 100\nPakistan \t0")

India 	 100
Pakistan 	0

In [62]:
len("india")     # len is used to get count of any collection

5

In [ ]:
"india"          # string is collection of characters

# I N D I A
# 0 1 2 3 4

In [63]:
dir("India")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [64]:
country = "india"

In [75]:
first_country = "USA"
second_country = "usa"

'INDIA'

In [78]:
first_country.lower() == second_country.lower()

True

In [76]:
country.lower()

'india'

In [65]:
country.capitalize()

'India'

In [66]:
help(country.casefold)

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

In [74]:
first_country = "India"
second_country = "india"
first_country.casefold() == second_country.casefold()

True

In [72]:
country = "india"

In [73]:
country.count("i")

2

In [70]:
help(country.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [93]:
value1 = "10.33333"

In [95]:
value1.lstrip("10")

'.33333'

In [ ]:
# mathemical operators on strings. :: +, *

In [97]:
country = "India"
verb = "is"
feature = "great"

In [98]:
sentence = country + " " + verb + " " + feature

In [99]:
sentence

'India is great'

In [100]:
"india " * 10

'india india india india india india india india india india '

In [123]:
foo = "@"

# alpha-numeric 
# a-z, numerical

# True

In [106]:
foo

'1234prashanst'

In [124]:
help(foo.isalnum)

Help on built-in function isalnum:

isalnum() method of builtins.str instance
    Return True if the string is an alpha-numeric string, False otherwise.

    A string is alpha-numeric if all characters in the string are alpha-numeric and
    there is at least one character in the string.

In [126]:
s = "india is great"

In [127]:
s.find("great")

9

In [125]:
foo.isalnum()

False

In [131]:
foo = "india is great"

In [132]:
foo.split()    

# delimiter
# default delimiter is space
# return value of split is always a list

['india', 'is', 'great']

In [138]:
example = "India\nPakistan\nUSA\nChina"

In [139]:
print(example)

India
Pakistan
USA
China

In [140]:
example.split("\n")

['India', 'Pakistan', 'USA', 'China']

In [141]:
example2 = "india-is-great"
example2.split("-")

['india', 'is', 'great']

In [ ]:
## indexing


## I  N  D  I  A
## 0  1  2  3   4
   -5  -4  -3 -2  -1

## reverse index

In [143]:
country = "india"

In [144]:
country[2]

'd'

In [145]:
country[-3]

'd'

In [146]:
country[-1]

'a'

In [ ]:
## slicing 

## [start: end: step]

# start is inclusive
# end is exclusive

In [147]:
country = "India"

In [149]:
country[0:4]

'Indi'

In [151]:
country = "united states"

In [155]:
country[0:3]

'uni'

In [156]:
country = "united states"

In [158]:
country[0:-1:2]

'uie tt'

In [164]:
name = "prashant"

In [168]:
name[::-1]

'tnahsarp'

In [13]:
foo = "prashant is a human"

In [14]:
foo.split()  

# split function takes 1 input - "delimiter"
# default delimiter is space character
# split function returns a list

['prashant', 'is', 'a', 'human']

In [15]:
bar = "india-is-great"

In [16]:
bar.split("-")

['india', 'is', 'great']

In [17]:
example = "all_humans_are_equal"

In [19]:
new_variable = example.split("_")

In [20]:
type(new_variable)

list